<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="./assets/css/article_style.css" type="text/css" />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Handlee|Boogaloo|Shrikhand" rel="stylesheet">
    <title>Scraping With Mongoose</title>
  <body>
    {{{ body }}}
    <script type="text/javascript">
      $(document).ready(function() {
          // initializing parallax element
          $('.parallax').parallax();
          // initializing materialize select element
          $('select').material_select();
          // initializing materialize modal element
          $('#resultsModal').modal();
          $('#commentsModal').modal();

          //On click of scrape articles button
          $("#scraped").on("click", function(event) {

            event.preventDefault();

            $.get("/scrape").done(function(data) {
              $('#resultsModal').modal('open');
            });
          });

          $(".save_article").on("click", function() {
            // Save the id
            var thisId = $(this).attr("data-id");
            console.log(this);

            // Now make an ajax call for the Article
            $.ajax({
            method: "POST",
            url: `/saved/${thisId}`
            })
            // With that done, add the article information to the page
            .done();
          });

          $("#delete_button").on("click", function() {
            // Save the id
            var thisId = $(this).attr("data-id");
            console.log(thisId);

            $.ajax({
            method: 'POST',
            url: `/remove/saved/${thisId}`
            }).done(function () {
            $("#article_title").hide();
            $("#article_summary").hide();
            });
          });

          $("#notes_button").on("click", function() {
            var thisId = $(this).attr("data-id");
            console.log(thisId);
            $('#savenote').attr('data-id', thisId);

            $.ajax({
            method: 'GET',
            url: `/getnote/${thisId}`,
            }).done(function(data){
            $('#commentsModal').modal('open');
            $.each(data.note, function( i, v ) {
                var count = i + 1;
              // If there's a note in the article
              if (data.note) {
              // Place the body of the note in the body textarea
              $("#textarea1").val(data.note.body);
              }
            });
          });
          });

          // When you click the savenote button
          $("#savenote").on("click", function() {
            // Grab the id associated with the article from the submit button
            var thisId = $(this).attr("data-id");
            console.log(thisId);
            // Run a POST request to change the note, using what's entered in the inputs
            $.ajax({
            method: 'POST',
            url: `/savenote/${thisId}`,
            data: {
              // Value taken from note textarea
              body: $("#textarea1").val().trim()
            }
          }).done(function(data) {
            // Log the response
            console.log(data);
            $('#textarea1').val('');
            });
          });
      });
    </script> 
  </body>
</html>
