<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="./assets/css/article_style.css" type="text/css" />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Handlee|Boogaloo|Shrikhand" rel="stylesheet">
    <title>Scraping With Mongoose</title>
  <body>
    {{{ body }}}
    <script type="text/javascript">
      $(document).ready(function() {
          // initializing parallax element
          $('.parallax').parallax();
          // initializing materialize select element
          $('select').material_select();
          // initializing materialize modal element
          $('#resultsModal').modal();

          //On click of scrape articles button
          $("#scraped").on("click", function(event) {

            event.preventDefault();

            $.get("/scrape").done(function(data) {
              $('#resultsModal').modal('open');
            });
          });

          $("#save_article").on("click", function() {
            // Save the id
            var thisId = $(this).attr("data-id");
            console.log(thisId);

            // Now make an ajax call for the Article
            $.ajax({
            method: "POST",
            url: `/saved/${thisId}`
            })
            // With that done, add the article information to the page
            .done(function(data) {
              console.log(data);
              $("#article_title").prepend(data.title);
            });
          });

          $("#delete_button").on("click", function() {
            // Save the id
            var thisId = $(this).attr("data-id");
            console.log(thisId);

            $.ajax({
            method: 'POST',
            url: `remove/saved/${thisId}`
            }).done(function () {
            $("#article_title").hide();
            $("#article_summary").hide();
            })
          })
      });
    </script> 
  </body>
</html>
