    <!-- Nav Bar Setup -->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper #424242 grey darken-3">
            <a href="#" class="brand-logo center">Article Finder</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li id="index_hbds"><a href="/">Home</a></li>
                <li id="saved_hbds"><a href="/saved">Saved Articles</a></li>
            </ul>
        </div>
    </nav>
</div>
    <!-- Modal Structure -->
    <div id="commentsModal" class="modal">
        <div class="modal-content center-align">
            <h4>Notes for Article: {{this._id}}</h4>
        </div>
        <div class="modal-footer">
            <a href="/saved" class="modal-action modal-close waves-effect waves-green btn-flat">Save Note</a>
        </div>
    </div>
    <!-- Paralax -->
    <div class="parallax-container">
        <div class="parallax"><img src="./assets/img/article.jpg"></div>
    </div>
    <!-- Article Boxes -->
    <div class="articles">
        <ul class="collection with-header">
        {{#each articles}}            
            <div class="title" id="article_title">
                <li class="collection-header #4db6ac teal lighten-2">
                 <form action="/saved" method="PUT" method="POST">
                    <div><h4>{{this.title}}<a class="waves-effect waves-light btn" id="delete_button">Delete from Saved</a><a class="waves-effect waves-light btn" id="notes_button">Article Notes</a></h4></div>
                </li>
                </form>
            </div>
            <div class="summary" id="article_summary">
                <li class="collection-item"><p>{{this.content}}{{this.link}}</p></li>
            </div> 
        {{/each}}           
    </div>

    <footer class="page-footer #424242 grey darken-3">
            © Copyright2017 Skylar Siagel | &nbsp
            <a class="grey-text text-lighten-4" href="https://github.com/Skylarann725/MongoArticles">GitHub Link</a>
    </footer>