 <nav>
        <div class="nav-wrapper #424242 grey darken-3">
            <a href="#" class="brand-logo center">Article Finder</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="index.handlebars">Home</a></li>
                <li><a href="saved.handlebars">Saved Articles</a></li>
            </ul>
        </div>
    </nav>
    <div class="parallax-container">
        <div class="parallax"><img src="./assets/img/article.jpg"></div>
    </div>
    <ul class="collection with-header">
        <div class="title" id="article_title">
            <li class="collection-header #4db6ac teal lighten-2">
                <div>
                    <h4>Article Title<a class="waves-effect waves-light btn" id="delete_button">Delete from Saved</a><a class="waves-effect waves-light btn" id="notes_button">Article Notes</a></h4></div>
            </li>
        </div>
        <div class="summary" id="article_summary">
            <li class="collection-item">Article Summary</li>
        </div>
    </ul>
    <ul class="collection with-header">
        <li class="collection-header #4db6ac teal lighten-2">
            <h4>Article Title</h4></li>
        <li class="collection-item">Article Summary</li>
    </ul>
    <ul class="collection with-header">
        <li class="collection-header #4db6ac teal lighten-2">
            <h4>Article Title</h4></li>
        <li class="collection-item">Article Summary</li>
    </ul>
    <ul class="collection with-header">
        <li class="collection-header #4db6ac teal lighten-2">
            <h4>Article Title</h4></li>
        <li class="collection-item">Article Summary</li>
    </ul>
    <ul class="collection with-header">
        <li class="collection-header #4db6ac teal lighten-2">
            <h4>Article Title</h4></li>
        <li class="collection-item">Article Summary</li>
    </ul>