body {
    background-color: white;
}
nav {
    height: 90px;
    line-height: 85px;
    font-family: 'Handlee', cursive;
}

h1 {
  color: black;
  text-align: center;
  margin-top: 170px;
  font-family: 'Boogaloo', cursive;
}

h4 {
  color: black;
  font-family: 'Boogaloo', cursive;
}

.parallax-container {
  line-height: 0;
  color: rgba(255,255,255,.9);
  overflow: hidden;
  box-sizing: inherit;

}

.parallax-container .section {
    width: 100%;
}

.section.no-pad-bot {
    padding-bottom: 0;
}

.section {
    padding-top: 1rem;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.parallax {
    position: relative;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.article-container {
  background-color: white;
}

.collection-header {
    font-family: 'Handlee', cursive;
    height: 90px;
}

.collection-item {
    font-family: 'Handlee', cursive;
    height: 60px;
}

h5 {
  margin-left: 120px;
  margin-top: -55px;
}

#scraped {
  background-color: #e1f5fe;
  color: black;
}

.save_article {
    float: right;
    background-color: #212121;
}

img {
  width: 100px;
}

#notes_button {
    float: right;
    background-color: #212121;
}

#delete_button {
    float: right;
    background-color: #212121;
    margin-left: 5px;
}
.page-footer {
  line-height: 70px;
  font-family: 'Handlee', cursive;
  text-align: center;
  color: white;
  margin-bottom: 0;
}