body {
    background-color: white;
}
nav {
    height: 90px;
    line-height: 85px;
    font-family: 'Handlee', cursive;
}

.parallax-container {
    height: 500px;
}

.collection-header {
    font-family: 'Handlee', cursive;
    height: 80px;
}

.collection-item {
    font-family: 'Handlee', cursive;
}

#scraped {
  background-color: #e1f5fe;
  color: black;
}

#save_article {
    float: right;
    background-color: #212121;
}

img {
  width: 100px;
}

#notes_button {
    float: right;
    background-color: #212121;
}

#delete_button {
    float: right;
    background-color: #212121;
    margin-left: 5px;
}
.page-footer {
  line-height: 70px;
  font-family: 'Handlee', cursive;
  text-align: center;
  color: white;
  margin-bottom: 0;
}